.ProseMirror {
    min-height: 300px;
    padding: 0.5rem;
    outline: none;
  
    p {
      margin: 0.5em 0;
    }
    
    &:focus {
      outline: none;
    }
  }
  
  .annotation-highlight.active {
    outline: 2px solid #ffffff;
    border-radius: 2px;
  }
  
  .bubble-menu {
    z-index: 50;
  }

  .annotation-highlight {
    border-radius: 2px;
  }

  .Grit {
    background-color: #C6F6D4;
  }

  .Problem {
    background-color: #BDE3F8;
  }